body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 40px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 7px;
  height: 0px;
  width: 10%;
}

a {
  margin-left: 30px;
  margin-right: 30px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.p-1 {
  margin-top: 0;
}

.profile-pics {
  border-radius: 100%;
  width: 50%;
}

.qa-tester {
  border-radius: 100%;
  width: 30%;
  float: left;
  margin-right: 30px;
}

.web-dev {
  border-radius: 100%;
  width: 30%;
  float: right;
  margin-left: 30px;
}

.topContainer {
  background-color: #D1E8E4;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skills {
  margin: 100px auto auto auto;
}

.skill-row1 {
  width: 50%;
  /*float: left;*/
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-row2 {
  width: 50%;
  /*float: right;*/
  margin: auto auto 120px auto;
  text-align: left;
  line-height: 2;
}

.contact-me {
  width: 50%;
  margin: 100px auto auto auto;
  line-height: 2;
}

.btn {
  color: #11999E;
}

.footer-link {
  color: #11999E;
}

.dumb-hr {
  visibility: hidden;
}

.middle-container {
  padding-top: 100px;
  margin-bottom: 100px;
}

.profile {
  width: 50%;
  margin: auto auto 100px auto;
  line-height: 2;
}

.bottom-container {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #34d9cb;
}

.btn {
  background: #34d9cb;
  background-image: -webkit-linear-gradient(top, #34d9cb, #2bb889);
  background-image: -moz-linear-gradient(top, #34d9cb, #2bb889);
  background-image: -ms-linear-gradient(top, #34d9cb, #2bb889);
  background-image: -o-linear-gradient(top, #34d9cb, #2bb889);
  background-image: linear-gradient(to bottom, #34d9cb, #2bb889);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.footer-tag {
  color: #EAF6F5;
  font-size: 0.75rem;
  margin-bottom: 20px 0 20px 0;
}
